# Unity
Library/
Temp/
Build/
Logs/
obj/
UserSettings/
MemoryCaptures/

# Unity Xcode Build
*.xcworkspace
Pods/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
xcshareddata/
xcdebugger/
*.xcassets/*
!*.xcassets/Contents.json
*.xcarchive
*.DS_Store
*.swp
*.lock
*.ipa
*.dSYM
